/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Style */
body {
  font-size: 14px;
  font-family: sans-serif;
  color: #222222;
}
.app {
  display: flex;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 16px;
  box-sizing: border-box;
}
.app-main {
  width: 75%;
  padding-right: 16px;
  border-right: 1px solid #adadad;
}
.app-main-header {
  padding-bottom: 16px;
  border-bottom: 1px solid #adadad;
}
.app-main__search-container input {
  width: 100%;
}
.app-main__search-container input, .app-main__filter .app-main__filter-current {
  padding: 6px 12px;
  color: #222222;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: #62aeff;
}
.app-main__filters-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.app-main__filter {
  width: 32%;
  cursor: pointer;
  position: relative;
}
.app-main__filter .app-main__filter-current {
  position: relative;
}
.app-main__filter .app-main__filter-current:after {
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  right: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #222222 transparent transparent transparent;
}
.app-main__filter .app-main__filter-list {
  padding: 6px 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(0);
  width: 100%;
  z-index: 1;
  top: 0;
  list-style: none;
  background-color: #62aeff;
}
.app-main__filter.active .app-main__filter-list {
  top: 100%;
  visibility: visible;
  opacity: 1;
  transform: translateY(10px);
  box-shadow: 2px 6px 14px 3px rgba(34, 34, 34, 0.4);
}
.app-main__filter .app-main__filter-list li {
  padding: 4px 12px;
  transition: .3s;
  background-color: #62aeff;
}
.app-main__filter .app-main__filter-list li:hover {
  background-color: #3270b1;
}
.app-main__list {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.app-main__item, .app-results__item {
  padding: 6px 12px;
  margin-bottom: 12px;
  background-color: #62aeff;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: .3s;
}
.app-main__item.hidden {
  display: none;
}
.app-main__item:not(.active):hover {
  box-shadow: 1px 1px 8px 0px #62aeff;
}
.app-results__item {
  visibility: hidden;
}
.app-results__item.visible {
  visibility: visible;
}
.app-main__item {
  width: 32%;
}
.app-main__item * {
  transition: .3s;
}
.app-main__item .app-main__ok {
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10px;
  height: 4px;
  transform-origin: center center;
  transform: rotate(-45deg);
  border-bottom: 1px solid #222222;
  border-left: 1px solid #222222;
}
.app-results .app-results__remove {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
}
.app-results .app-results__remove:before, .app-results .app-results__remove:after {
  position: absolute;
  content: '';
  width: 13px;
  height: 1px;
  background-color: #222222;
  left: 0;
}
.app-results .app-results__remove:before {
  transform-origin: top left;
  top: 0;
  transform: rotate(43deg);
}
.app-results .app-results__remove:after {
  transform-origin: bottom left;
  bottom: 0;
  transform: rotate(-43deg);
}
.app-main__item.active {
  background-color: rgba(173, 173, 173, 0.6);
}
.app-main__item.active .app-main__ok {
  opacity: 1;
}
.app-main__item.active *:not(.app-main__ok) {
  opacity: .6;
}
.app-main__item .app-main__item-info, .app-results__item .app-results__item-info {
  margin-bottom: 4px;
}
.app-main__item .app-main__item-info span, .app-results__item .app-results__item-info span {
  font-size: .8rem;
  color: #505050;
}
.app-main__item .app-main__item-title span, .app-results__item .app-main__item-title span {
  font-size: 1rem;
  color: #222222;
}
.app-results__link {
  width: 100%;
  box-sizing: border-box;
}


.app-results-container {
  width: 25%;
  padding-left: 16px;
}
.app-results {
  position: sticky;
  top: 0;
}
.app-results-list {
  padding-top: 12px;
}
.app-results__copy {
  margin: 6px 0;
}
.app-results__copy-text {
  opacity: 0;
  transition: .3s;
}
.app-results__copy-text.visible {
  opacity: 1;
}
@media (max-width: 576px) {
  .app {
    padding: 30px 16px;
    box-sizing: border-box;
  }
  .app-main {
    flex-basis: 50%;
    flex-shrink: 0;
    box-sizing: border-box;
  }
  .app-results-container {
    flex-basis: 50%;
    flex-shrink: 0;
    box-sizing: border-box;
  }
  .app-main__filters-container {
    flex-wrap: wrap;
  }
  .app-main__filter {
    margin-bottom: 16px;
    flex-basis: 100%;
  }
  .app-main__filter:last-child {
    margin-bottom: 0;
  }
  .app-main__item {
    flex-basis: 100%;
  }
  .app-main__item .app-main__ok,
  .app-results .app-results__remove {
    top: 5px;
    right: 5px;
  }
}