:root {
  --grey : #c3c3c3;
  --dark : #272727;
  --tomato : rgba(255, 99, 71, 0.5);
  --green : #41a041;
  --light-blue : #62aeff;
}
$dark : #1E1E2B;
$white : #ffffff;
$grey : #D8D8D8;
$greyFooter : #737373;
$caseBg : #F2F2F2;